* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: rgb(71, 34, 92);
  height: 100vh;
}
/* .navbar {
  height: 7.5vh;
} */

#nav-logo {
  width: 60px;
  border: white solid 2px;
  border-radius: 15%;
}

.Header {
  background-color: rgb(71, 34, 92);
  color: white;
  border-bottom: white solid 5px;
  font-family:  Helvetica, sans-serif;
}

#page-heading {
  font-size: 2.4rem;
  font-family: 'Courier New', Courier, monospace;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(71, 34, 92);
  padding: 10px;
}

.editor-header {
  display: flex;
  justify-content: space-between;
}

#toggle-size-btn {

}


.editor-container {
  width: 65%;
  color: white;
  text-align: center;
  background-color: rgb(126, 59, 161);
}

.preview-container {
  width: 65%;
  color: white;
  text-align: center;
  background-color: rgb(126, 59, 161);
}

.line-break {
  width: 65%;
  border-bottom: white dotted 2px;
  background-color: rgb(71, 34, 92);
  margin: 10px;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  height: 40vh;
  font-size: 1.8rem;
}
.text-area-open {
  box-sizing: border-box;
  width: 100%;
  height: 40vh;
  /* border:1px solid black; */
  background-color:#dadada;
  white-space: pre-line;
  /* padding:10px; */
  font-size:1.8em;
  display: inline-block;
}

.text-area-close {
  display: none;
}
.text-area {
  color: black;
  box-sizing: border-box;
  width: 100%;
  height: 40vh;
  /* border:1px solid black; */
  background-color:#ffffff;
  /* padding:10px; */
  font-size:1.8em;
  display: inline-block;
  text-align: left;
  padding: 25px;
}
.body-heading {
  margin: 0px;
}










